{% for item in logs %}
{% set url = linkify(item.url) %}
<div class="item" itemscope itemtype="http://schema.org/BlogPosting">
  <h2 itemprop="headline"><a href="{{ url }}">{{ item.title }}</a></h2>
  <div class="item_tags tags">
    {% for tag in item.tags %}
      {% set color = tag.metadata.color %}
      <a class="{{ tag.slug }}" href="{{ linkify(tag.url) }}"{% if color %} style="--color:{{ color }}"{% endif %}>{{ tag.title }}</a>
    {% endfor %}
  </div>
  <div class="item_summary" itemprop="articleBody">
    {{ item.summary }}...
    <a href="{{ url }}"></a>
  </div>
  <div class="item_authors authors">
    {% for author in item.authors %}
      {% if author.avatar %}
        <span class="tip" aria-label="{{ author.name }}">
          <img src="{{ author.avatar }}">
        </span>
      {% else %}
        <span class="tip" aria-label="{{ author.name }}">{{ author.name|first }}</span>
      {% endif %}
    {% endfor %}
  </div>
  <a class="item_time published" href="{{ url }}">
    <time datetime="{{ item.published_at|xmldatetime }}" itemprop="datePublished">{{ item.published_at.strftime("%Y-%m-%d") }}</time>
  </a>
</div>
{% endfor %}
