{% from "macros.j2" import render_subject_content %}

{% block style %}
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ static_url }}meguro.css">
{% endblock %}

{% set items = query.latest_subjects('post', contains=['collaborators', 'tags', 'content']) %}
{% if items %}
  {% set page = items[0] %}
{% else %}
  {% set page = None %}
{% endif %}

{% block body %}
  {% if not features.head_html %}
    {% include "./_head.j2" %}
  {% endif %}
  <div class="main">
    <div class="inner">
      {% if page %}
      <article role="main" class="h-entry" itemscope itemtype="http://schema.org/Article">
        <h1 class="p-name" itemprop="headline"><a href="{{ linkify(page.url) }}">{{ page.title }}</a></h1>
        {% if page.subtitle %}
          <h2 class="p-summary">{{ page.subtitle }}</h2>
        {% endif %}
        <div class="tags">
          {% for tag in page.tags %}
            {% set color = tag.metadata.color %}
            <a class="{{ tag.slug }}" href="{{ linkify(tag.url) }}"{% if color %} style="--color:{{ color }}"{% endif %}>{{ tag.title }}</a>
          {% endfor %}
        </div>
        <div class="e-content js-content yue" itemprop="articleBody">
          {{ render_subject_content(site, page) }}
        </div>
        <a class="published" href="{{ linkify(page.url) }}">
          <time datetime="{{ page.published_at|xmldatetime }}" itemprop="datePublished">{{ page.published_at.strftime("%Y-%m-%d") }}</time>
        </a>
      </article>
      {% endif %}

      {% set logs = items[1:] %}
      {% include "./_logs.j2" %}
      <div class="home-more">
        <a href="{{ linkify('/archive/') }}">MORE →</a>
      </div>
    </div>
  </div>
{% endblock %}

{% block script %}
{% if page %}
<script>typlog.content({{ page.images|tojson }})</script>
{% endif %}
{% endblock %}
