{% block style %}
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ static_url }}src/index.css">
{% endblock %}

{% block body %}
  {% include "gh:typlog/meguro/_head.j2" %}
  <div class="main">
    <div class="inner">
      {% set logs = query.latest_subjects('post', contains=['collaborators', 'tags', 'content']) %}
      {% include "gh:typlog/meguro/_logs.j2" %}
      <div class="home-more">
        <a href="{{ linkify('/archive/') }}">MORE →</a>
      </div>
    </div>
  </div>
{% endblock %}
