{% from "macros.j2" import render_navigation %}

{% block style %}
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ static_url }}meguro.css">
{% endblock %}

{% block body %}
  {% include "./_partials/head.j2" %}
  <div class="main">
    <div class="inner">
      <h2 class="main_title"><span>{{ page.title }}</span></h2>
      {% set logs = page.items %}
      {% include "./_partials/logs.j2" %}
      {{ render_navigation(site, page) }}
    </div>
  </div>
{% endblock %}
