{% from "macros.j2" import render_navigation with context %}

{% block style %}
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ static_url }}meguro.css">
{% endblock %}

{% block body %}
  {% if not features.head_html %}
    {% include "gh:typlog/meguro/_head.j2" %}
  {% endif %}
  <div class="main">
    <div class="inner">
      <h2 class="main_title"><span>{{ page.title }}</span></h2>
      {% set logs = page.items %}
      {% include "gh:typlog/meguro/_logs.j2" %}
      {{ render_navigation(page) }}
    </div>
  </div>
{% endblock %}
