:root {
  --en-sans: "Helvetica Neue", "Helvetica", Aria;
  --sys-sans: -apple-system, BlinkMacSystemFont, "Helvetica Neue";
  --cjk-sans: "PingFang SC", "Hiragino Sans GB", "Droid Sans Fallback", "Microsoft YaHei";
}

body {
  font: normal 16px/1.42 var(--mg-f-base);
  color: var(--mg-c-text);
  background-color: var(--mg-c-bg);
}

a {
  color: rgb(var(--mg-rc-accent));
}

.inner {
  max-width: 680px;
  margin: 0 auto;
  padding: 0 1em;
  box-sizing: border-box;
}

.main {
  padding: 4em 0 2em;
  font-family: var(--mg-f-text);
}
.main_title {
  font-size: 38px;
  font-weight: 900;
  letter-spacing: .6px;
  line-height: 1;
  color: var(--mg-c-head-text);
}
.main_title > span {
  display: inline-block;
  position: relative;
}
.main_title > span:after {
  display: inline-block;
  position: absolute;
  content: "";
  bottom: -.2em;
  left: 10%;
  width: 60%;
  height: .8em;
  border-radius: 6px 12px 20px 14px;
  mix-blend-mode: multiply;
  transform: skew(-20deg,-2deg);
  background: rgba(var(--mg-rc-accent),.3);
}

.navigation a,
.home-more a {
  text-decoration: none;
}
.navigation {
  display: flex;
  margin: 2em 0;
  justify-content: space-between;
}
.home-more {
  margin: 2em 0;
}

.powered-by {
  font-size: 14px;
  padding: 12px 24px;
  border-top: 1px solid var(--mg-c-divider-light);
}
.powered-by > div {
  margin: 0 auto;
  max-width: 1200px;
  box-sizing: border-box;
}
.powered-by,
.powered-by a {
  color: var(--mg-c-text-mute);
}

.h-entry {
  position: relative;
  padding-top: 30px;
  padding-bottom: 20px;
}

h1.p-name {
  font-size: 1.8em;
  margin: 0 0 .1em;
  letter-spacing: .02em;
  line-height: 1.1;
}
h1.p-name a {
  text-decoration: none;
}
h2.p-summary {
  color: var(--mg-c-text-light);
  font-size: 1.42em;
  font-weight: 300;
}

.h-entry .tags {
  margin-top: 1em;
}

.e-content {
  line-height: 1.64;
  margin-top: 2em;
}
