h1.p-name {
  font-size: 2.2em;
  font-weight: 900;
  margin-top: .42em;
  margin-bottom: .1em;
  letter-spacing: .02em;
  line-height: 1.1;
}
h2.p-summary {
  color: rgba(0,0,0,.42);
  font-size: 1.42em;
  font-weight: 300;
}
