.h-entry {
  position: relative;
  padding-top: 30px;
}

h1.p-name {
  font-size: 1.8em;
  margin: 0 0 .1em;
  letter-spacing: .02em;
  line-height: 1.1;
}
h1.p-name a {
  text-decoration: none;
}
h2.p-summary {
  color: rgba(0,0,0,.42);
  font-size: 1.42em;
  font-weight: 300;
}

.h-entry .tags {
  margin-top: 1em;
}
