:root {
  --en-sans: "Helvetica Neue", "Helvetica", Aria;
  --sys-sans: -apple-system, BlinkMacSystemFont, "Helvetica Neue";
  --cjk-sans: "PingFang SC", "Hiragino Sans GB", "Droid Sans Fallback", "Microsoft YaHei";
}

body {
  font: normal 16px/1.42 var(--en-sans), var(--cjk-sans), sans-serif;
  color: #464543;
}

a {
  color: rgba(0, 0, 0, 0.98);
}

a:hover {
  color: rgb(var(--primary-color-rgb));
  border-color: rgb(var(--primary-color-rgb));
}

.inner {
  max-width: 680px;
  margin: 0 auto;
  padding: 0 1em;
  box-sizing: border-box;
}

.head {
  padding: 1em 0;
  border-bottom: 1px solid #eee;
}
.head a {
  text-decoration: none;
}

.site {
  display: flex;
  align-items: center;
}
.site_logo {
  margin-right: 10px;
  flex-shrink: 0;
}
.site_logo img {
  height: 48px;
  border-radius: 50%;
}
.site_info h1 {
  margin: 0;
  font-size: 18px;
}
.site_info p {
  margin: 4px 0 0;
  color: rgba(0, 0, 0, 0.68);
}

.main {
  padding: 4em 0 2em;
  font-family: "Source Sans Pro", var(--en-sans), var(--cjk-sans), sans-serif;
}
.main_title {
  font-size: 38px;
  font-weight: 900;
  letter-spacing: .6px;
  line-height: 1;
  color:rgba(0, 0, 0, 0.98);
}
.main_title > span {
  display: inline-block;
  position: relative;
}
.main_title > span:after {
  display: inline-block;
  position: absolute;
  content: "";
  bottom: -.2em;
  left: 10%;
  width: 60%;
  height: .8em;
  border-radius: 6px 12px 20px 14px;
  mix-blend-mode: multiply;
  transform: skew(-20deg,-2deg);
  background: rgba(var(--primary-color-rgb),.3);
}

.navigation a,
.home-more a {
  text-decoration: none;
}
.navigation {
  display: flex;
  margin: 2em 0;
  justify-content: space-between;
}
.home-more {
  margin: 2em 0;
}
